body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    background: url('https://images.unsplash.com/photo-1614149162883-504ce4d13909?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    display: block;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

div{
    background: rgba(77, 1, 25, 0.7);
    padding: 30px;
    border-radius: 10px;
    width:400px;
}