body {
    font-family: 'Arial', sans-serif;
    background: url('https://images.unsplash.com/photo-1614149162883-504ce4d13909?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0e0d0d;
}

form {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width:400px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Display gender and role horizontally */
.gender-group, .role-group {
    display: flex;
    margin-bottom: 20px;
}

.gender-group label, .role-group label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #1d77bb;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.radio-container {
    display: flex;
}

.radio-container label {
    display: inline-block;
    margin-right: 15px;
    padding: 2%;
}

